<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.perspectives">
      <perspective name="Bioinformatics 2.4 - Protein Structure"
          class="nl.unimaas.bigcat.edu.protstruct.ui.ProtStructPerspective"
          id="nl.unimaas.bigcat.edu.protstruct.ui.ProtStructPerspective"
          icon="">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="nl.unimaas.bigcat.edu.bioinf2.4.cheatsheet.category"
            name="Bioinformatics 2.4"/>
      <cheatsheet
            category="nl.unimaas.bigcat.edu.bioinf2.4.cheatsheet.category"
            composite="true"
            contentFile="cheatsheets/aminoAcids.xml"
            id="nl.unimaas.bigcat.edu.protstruct.cheatsheet.aminoacids"
            name="Introduction to Amino Acids"/>
   </extension>

</plugin>
